*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Circular,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
span{
    width: 0%;
    border-bottom: 3px solid transparent;
    cursor: pointer;
    /* transform: translateX(0px); */
    transition: 1s;
    /* transform: scaleX(0px) */
    transform:translateX(0px);



}
span:hover{
    width: 100%;
    border-bottom: 3px solid black;
    transition: 5s;
    /* transform: translateX(300px); */
    transform:translateX(100px);
    

}